@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300&display=swap');

* {
  font-family: 'Unbounded', cursive;
  background-color: #4cbcff;
}

#heading-1 {
  font-size: 70px;
  margin-left: 25%;
  margin-top: 3%;
}

#novi-rezultat {
  margin-top: 3%;
  margin-left: 8%;
  display: flex;
}


#rez-1 {
  margin-left: 3%;
  width: 5%;
  margin-right: 0.5%;
  font-size: 30px;
  height: 80px;
  text-align: center;
}

#rez-2 {
  margin-right: 3%;
  margin-left: 0.5%;
  width: 5%;
  font-size: 30px;
  height: 80px;
  text-align: center;
}

#domacin {
  margin-left: 15.5%;
  width: 22%;
  font-size: 30px;
  text-align: center;
}

#gost {
  width: 22%;
  font-size: 30px;
  text-align: center;
}

#tackice {
  font-size: 45px;
}

#button-save {
  margin-left: 41.5%;
  margin-top: 2%;
  font-size: 25px;
  width: 350px;
}

.rezultat {
  display: flex;
}

#rezultati {
  margin-top: 3%;
}

#domacin-h4 {
  font-size: 50px;
  margin-left: 34%;
}

#gost-h4 {
  font-size: 50px;
  margin-left: 2%;
}

#rez1-h4 {
  margin-left: 2%;
  font-size: 50px;
}

#rez2-h4 {
  font-size: 50px;
}